In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ---------------------------------------- 44.8/44.8 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [3]:
import pymysql

In [11]:
con = pymysql.connect(
    user='root',
    passwd='life2023',
    host='127.0.0.1',
    db='shop',
    charset='utf8'
)

mycursor = con.cursor()

In [12]:
query = """
    insert into goods values ('0009', '스테이플러', '사무용품', '2000', '1500', '2020-12-30');
"""

mycursor.execute(query)
con.commit()
con.close()

In [5]:
query = """
    select * from goods;
"""

mycursor.execute(query)
data = mycursor.fetchall()
con.close()

display(data)

(('0001', '티셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20)),
 ('0002', '펀칭기', '사무용품', 500, 320, datetime.date(2020, 9, 11)),
 ('0003', '펀칭기2', '사무용품', 500, 320, datetime.date(2020, 9, 11)))

In [6]:
data

(('0001', '티셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20)),
 ('0002', '펀칭기', '사무용품', 500, 320, datetime.date(2020, 9, 11)),
 ('0003', '펀칭기2', '사무용품', 500, 320, datetime.date(2020, 9, 11)))

In [7]:
type(data)

tuple

In [10]:
query = """
    select * from goods;
"""

mycursor.execute(query)
data = mycursor.fetchone()
con.close()

display(data)

('0001', '티셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20))

In [13]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/shop')
query = '''select * from goods'''
goods = pd.read_sql(query, con=engine)
engine.dispose()

goods.head(10)

  goods_id goods_name goods_classify  sell_price  buy_price register_date
0     0001        티셔츠             의류        1000        500    2020-09-20
1     0002        펀칭기           사무용품         500        320    2020-09-11
2     0003       펀칭기2           사무용품         500        320    2020-09-11
3     0009      스테이플러           사무용품        2000       1500    2020-12-30

In [16]:
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/shop')

iris.to_sql(name='iris', con = engine, index=False, if_exists='replace')

150

In [18]:
engine.dispose()

In [20]:
!pip install sqlalchemy_utils

Collecting sqlalchemy_utils
  Downloading SQLAlchemy_Utils-0.41.1-py3-none-any.whl (92 kB)
     ---------------------------------------- 92.6/92.6 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: SQLAlchemy>=1.3 in c:\users\chanj\anaconda3\lib\site-packages (from sqlalchemy_utils) (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\chanj\anaconda3\lib\site-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (2.0.1)
Installing collected packages: sqlalchemy_utils
Successfully installed sqlalchemy_utils-0.41.1

In [21]:
from sqlalchemy_utils import create_database

In [22]:
create_database('mysql+pymysql://root:life2023@127.0.0.1:3306/exam')

In [23]:
price = pd.DataFrame({
    '날짜': ['2021-01-02', '2021-01-03'],
    '티커': ['000001', '000001'],
    '종가': [1340, 1315],
    '거래량': [1000, 2000]
})

In [24]:
price.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000

In [25]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/exam')
price.to_sql('price', con=engine, if_exists='append', index=False)
data_sql = pd.read_sql('price', con=engine)
engine.dispose()

In [26]:
new = pd.DataFrame({
    '날짜': ['2021-01-04'],
    '티커': ['000001'],
    '종가': [1320],
    '거래량': [5000]
})

In [27]:
new.head()

           날짜      티커    종가   거래량
0  2021-01-04  000001  1320  5000

In [28]:
price2 = pd.concat([price, new])

In [29]:
price2.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000
0  2021-01-04  000001  1320  5000

In [30]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/exam')
price2.to_sql('price', con=engine, if_exists='append', index=False)
data_sql = pd.read_sql('price', con=engine)
engine.dispose()

In [32]:
price = pd.DataFrame({
    '날짜': ['2021-01-04', '2021-01-04'],
    '티커': ['000001', '000002'],
    '종가': [1320, 1315],
    '거래량': [2100, 1500]
})

args = price.values.tolist()
args

[['2021-01-04', '000001', 1320, 2100], ['2021-01-04', '000002', 1315, 1500]]

In [34]:
con = pymysql.connect(
    user='root',
    passwd='life2023',
    host='127.0.0.1',
    db='exam',
    charset='utf8'
)

query = """
    insert into price2 values (%s,%s,%s,%s) as new
    on duplicate key update
    종가 = new.종가, 거래량 = new.거래량;
"""

mycursor = con.cursor()

mycursor.executemany(query, args)
con.commit()
con.close()

In [4]:
con = pymysql.connect(
    user='root',
    passwd='life2023',
    host='127.0.0.1',
    db='life2023',
    charset='utf8'
)

query = """
    drop database life2023;
    
"""

mycursor = con.cursor()

mycursor.execute(query)
con.commit()
con.close()

# 여기서부터는 실제 코드

In [ ]:
!pip install pymysql sqlalchemy_utils

In [4]:
import pandas as pd
import numpy as np

from scipy.stats.mstats import winsorize

import time
from datetime import datetime
import pandas_market_calendars as mcal

from joblib import Parallel, delayed
from tqdm import tqdm

import pymysql
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database

In [5]:
# create_database('mysql+pymysql://root:life2023@127.0.0.1:3306/Life2023')

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'life2023'; database exists")
[SQL: CREATE DATABASE `Life2023` CHARACTER SET = 'utf8']
(Background on this error at: https://sqlalche.me/e/14/f405)

In [2]:
path = '/Users/chanj/OneDrive/바탕 화면/Life/datasets-total-ver23060812'

In [6]:
kosdaq_members = pd.read_csv(f'/Users/chanj/OneDrive/바탕 화면/Life/KOSDAQ_members.csv')

In [7]:
ksq_mem_list = list(kosdaq_members.ticker_bloomberg)

In [9]:
def to_db(ticker):
    table = pd.read_csv(f'/Users/chanj/OneDrive/바탕 화면/Life/datasets-KOSDAQ/dataset-KOSDAQ-{ticker}.csv')
    preprocess = preprocessing(table, mode='KOSPI200')
    return preprocess.df

In [ ]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/life2023')

with Parallel(n_jobs = 12) as parallel:
    results = parallel(delayed(to_db)(ticker) for ticker in tqdm(ksq_mem_list))
    
engine.dispose()

In [ ]:
with Parallel(n_jobs = 12) as parallel:
    results = parallel(delayed(to_db)(ticker) for ticker in tqdm(ksq_mem_list))
    
for name, result in tqdm(zip(ksq_mem_list, results)):
    result.to_csv(f'/Users/chanj/OneDrive/바탕 화면/Life/datasets-KOSDAQ/dataset-KOSDAQ-{name}.csv')

In [ ]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/life2023')
for ticker, df in tqdm(zip(ksq_mem_list, results)):
    df.to_sql(ticker.replace(' ','_'), con=engine, if_exists='append', index=True)
engine.dispose()

In [12]:
kospi_members = pd.read_csv(f'{path}/dataset-members/dataset-KOSPI200-members.csv')
ks_mem_list = []
for ks_mem in kospi_members.value.tolist():
    ks_mem = ks_mem.replace('/', '_')
    ks_mem_list.append(ks_mem)

In [ ]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/life2023')
for ticker in ks_mem_list:
    table = pd.read_csv(f'{path}/datasets-KOSPI200/dataset-KOSPI200-{ticker}.csv')
    preprocess = preprocessing(table, mode='KOSPI200')
    preprocess.df.to_sql(ticker.replace(' ','_'), con=engine, if_exists='append', index=True)
engine.dispose()

In [14]:
russell_members = pd.read_csv(f'{path}/dataset-members/dataset-RUSSELL3000-members.csv')
rs_mem_list = []
for rs_mem in russell_members.value.tolist():
    rs_mem = rs_mem.replace('/', '_')
    rs_mem_list.append(rs_mem)

In [ ]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/life2023')
for ticker in rs_mem_list:
    table = pd.read_csv(f'{path}/datasets-RUSSELL3000/dataset-RUSSELL3000-{ticker}.csv')
    preprocess = preprocessing(table, mode='RUSSELL3000')
    preprocess.df.to_sql(ticker.replace(' ','_'), con=engine, if_exists='replace', index=True)
engine.dispose()

In [ ]:
engine = create_engine('mysql+pymysql://root:life2023@127.0.0.1:3306/life2023')
query = """select * from 000080_KS"""
df = pd.read_sql(query, con=engine)
engine.dispose()
df

In [11]:
def non_shared_holidays(df, market, start_date, end_date):
    start_date_str = start_date.strftime('%Y-%m-%d')
    end_date_str = end_date.strftime('%Y-%m-%d')
    market_trading_day = market.schedule(start_date=start_date, end_date=end_date)
    df_trading_day = df.index
    non_shared_holidays_list = sorted(set(market_trading_day.index) - set(df_trading_day))
    return non_shared_holidays_list

krx = mcal.get_calendar('XKRX')
nyse = mcal.get_calendar('NYSE')

C:\Users\chanj\anaconda3\lib\site-packages\pandas_market_calendars\market_calendar.py:144: UserWarning: ['break_start', 'break_end'] are discontinued, the dictionary `.discontinued_market_times` has the dates on which these were discontinued. The times as of those dates are incorrect, use .remove_time(market_time) to ignore a market_time.
  warnings.warn(f"{list(discontinued.keys())} are discontinued, the dictionary"

In [12]:
def fill_na(df):
    columns_ffill = ['PX_OPEN', 'PX_LOW', 'PX_HIGH', 'PX_LAST', 'VOLUME', 'MOV_AVG_5D']
    columns_zero_fill = ['CHG_PCT_1D', 'LOG_CHG_PCT_1D']
    
    for column in columns_ffill:
        df[column] = df[column].fillna(method='ffill')
    
    for column in columns_zero_fill:
        df[column] = df[column].fillna(0)
        
    return df

In [13]:
class preprocessing:
    def __init__(self,df, mode):
        self.df = df
        self.mode = mode
        self.index_to_datetime()
        self.make_log_chg_pct_1d()
        self.cut_with_valid_date()
        self.fill_non_shared_holidays()
        self.winsorizing()
        
    def index_to_datetime(self):
        self.df['date'] = pd.to_datetime(self.df['date'])
        self.df.set_index('date', inplace=True)
        
    def make_log_chg_pct_1d(self):
        self.df['LOG_CHG_PCT_1D'] = np.log(self.df['CHG_PCT_1D']/100 + 1)
    
    def cut_with_valid_date(self):
        first_valid_date = np.where(~np.isnan(self.df.to_numpy()).any(axis=1))[0][0]
        self.df = self.df.iloc[first_valid_date:]
        
    def fill_non_shared_holidays(self):
        if self.mode is 'KOSPI200':
            index_to_fill = non_shared_holidays(self.df, nyse, self.df.index[0], self.df.index[-1]) 
        elif self.mode is 'RUSSELL3000':
            index_to_fill = non_shared_holidays(self.df, krx, self.df.index[0], self.df.index[-1])
            
        self.df = self.df.reindex(self.df.index.union(index_to_fill))
    
        self.df = fill_na(self.df)
        
    def winsorizing(self):
        self.df['LOG_CHG_PCT_1D_win'] = winsorize(self.df['LOG_CHG_PCT_1D'], limits=(0.05, 0.05))

<>:23: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:25: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:23: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:25: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\chanj\AppData\Local\Temp\ipykernel_13212\2677273830.py:23: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if self.mode is 'KOSPI200':
C:\Users\chanj\AppData\Local\Temp\ipykernel_13212\2677273830.py:25: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif self.mode is 'RUSSELL3000':